:root {
  /* Colors */
  --very-light-pink: #c7c7c7;
  --white: #ffffff;
  --text-input-field: #f7f7f7;
  --black: #000000;
  --hospital-green: #acd9b2;
  --dark: #232830;
}

/* Clases de Colores en el Texto */

.c-vl-pink {
  color: var(--very-light-pink);
}

/* Background color */
.bg-vl-pink {
  background-color: var(--very-light-pink);
}

.bg-ti-field {
  background-color: var(--text-input-field);
}

/* FIN DE Clases de Colores en el Texto */

.act-categorie {
  border-color: var(--hospital-green) !important;
  color: var(--hospital-green);
}

/* Classes de estado activo*/

/* FIn de Classes de estado activo*/

.card-img {
  max-width: 224px;
}

.card-img-modified {
  aspect-ratio: 1 / 1;
}

.card-img-modified img {
  object-fit: cover;
}

.categories {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.notification {
  font-size: 0.6rem;
  font-weight: bold;
  right: 3px;
  top: -1;
}
